.navigation {
    position: fixed;
    height: 100%;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.navigation__titleHolder {
    padding: 1rem;
}

.navigation__socialButtons svg {
    width: 50px;
    margin: 5px 2px;
}