.navigation {
    position: fixed;
    height: 100%;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.navigation__main {
    padding: 2rem;
    background: #22577aff;
    border: 0.3rem solid #80caff;
    border-bottom-left-radius: 2rem;
    border-top-left-radius: 2rem;
    border-right: none;
}

.navigation__titleHolder {
    padding: 1rem;
}

.navigation__main {
    display: flex;
    flex-direction: column;
    font-size: 2.5rem;
}

.navigation__main--link {
    text-decoration: none;
}

.navigation__main--link svg {
    width: 17.5px;
    fill: none;
    stroke: #80caff;
    stroke-width: 3px;
}

.navigation__main--link:hover svg {
    fill: #fe5f55ff;
    stroke: none;
}

.navigation__socialButtons svg {
    width: 50px;
    margin: 5px 2px;
}