@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;400&display=swap');
:root {
    --link: #80caff;
    --hover: #fe5f55ff;
    --highlight: rgb(217, 136, 218);
    --panels: #22577aff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; 
    scroll-behavior: smooth;
}

body {
    font-size: 2rem;
    font-family: 'Kanit', sans-serif;
    color: white;
}

a {
    color: var(--link);
    text-decoration: none;
}

a:hover {
    color: var(--hover);
}

.highlight {
    color: var(--highlight);
}

strong {
    color: var(--highlight);
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-track {
    background: linear-gradient(0deg, var(--highlight) 0%, var(--hover) 100%) ;
}

::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 15px;
    box-shadow: 0 0 0 100vh black;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--hover);
}

.blog {
    margin: 4rem 0;
    height: 120vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blog__frame {
    height: 100%;
    width: 95%;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.3);
    margin: auto;
}