.contact {
    height: 60vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.contact__title {
    width: 100%;
    text-align: center;
    font-size: 300%;
}

.contact__item {
    display: flex;
    flex-direction: column;
    width: 25rem;
    padding: 2rem;
    text-align: center;
    height: 25rem;
    justify-content: space-between;
    margin: 0 4rem;
    box-shadow: 0 0 2rem 0 rgba(0,0,0,0.3);
    border-radius: 1rem;
    background: rgba(206, 206, 206, 0.4);
}

.contact__item:hover {
    box-shadow: 0 0 0.8rem 0 rgba(0, 0, 0, 0.3);
}

.contact__item:active {
    box-shadow: inset 0 0 2rem 0 rgba(0,0,0,0.3);
}

.contact svg {
    /* margin-top: 2rem; */
    width: 60%;
}